html {
	background-color: gray;
    
}
body  {
	font-family: sans-serif;
	width: 1000px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid gray;
	box-shadow: 0 9px 18px 9px;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}
/* Header */
header img{
    border: 0;
}

header 
{
        background-image: url(file:///Users/shimamaleki/Documents/HTML/OwnFutureAssignment/MajorFinalAssignment/images/019.png); 
        background-color: #000000;
        background-size:cover;
        background-repeat: no-repeat;
        width: 1000px;
        height: 469px;
        opacity: 0.7;    
}

header h2 {
	font-size: 200%;
    font-weight: 900;
    color: black;
    margin-left: 20px;
    font-family: sans-serif;
}
header h3 {
	font-size: 125%;
	padding-bottom: 15px;
    font-weight: bold;
    margin-left: 20px;
    font-family: sans-serif;
}

/* Navigation menu */

#nav_menu {
	clear: left;
}
#nav_menu ul {
	list-style: none;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul ul li ul {
    position: absolute;
    left: 100%;
    top: 30%
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 166.6px;
	padding: .7em 0;
	text-decoration: none;
	background-color: gray;
	color: white;
    font-family: sans-serif;
}
#nav_menu ul li a.current {
	color: #87a8ad;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: #324747;
    font-style: italic;
}


/* Sidebar */
aside {
	float: left; 
	padding: 20px 0; 
}

aside h3{
    padding:0;
    margin-left: 10px;
    font-family: sans-serif;
}
aside img {
    width: 180px;
    border: 1px solid gray;
    margin: 10px;
}
#nav_list a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	padding: .5em 0 .5em .5em;
	color: black;
}

/* Section */
section {
	width: 205px;
	float: right;
	padding: 10px 0px 10px 10px;
    font-weight: lighter;
     margin: 20px 10px 0 0;
    text-align: left;
    
}
h4{
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    color: gray;
}

section img {
    border: 1px solid gray;
}


article {
    width: 510px;
    float: right;
    margin: 35px 10px 10px 0;
    font-family: sans-serif;
}
article p{
    padding: 5px;
}


/* Footer */
footer { 
	clear: both;
	border-top: 2px solid gray;
	padding: 15px;
    background-color: gray;
} 
footer p {
	font-size: 90%;
	text-align: center;
}