\html {
	background-color: gray;	
}
body  {
	font-family: sans-serif;
	width: 1000px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid gray;
	box-shadow: 0 9px 18px 9px;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

/* Header */
header 
{
        background-image: url(file:///Users/shimamaleki/Documents/HTML/OwnFutureAssignment/MajorFinalAssignment/images/019.png); 
        background-color: #000000;
        background-size:cover;
        background-repeat: no-repeat;
        width: 1000px;
        height: 469px;
        opacity: 0.7;
        font-family: sans-serif;
}
header img{
    border: 0;
}

header h2 {
	font-size: 200%;
    font-weight: 900;
    color: black;
    margin-left: 20px;
    font-family: sans-serif;
}
header h3 {
	font-size: 125%;
	padding-bottom: 15px;
    font-weight: bold;
    margin-left: 20px;
    font-family: sans-serif;
}

/* Navigation menu */
#nav_list img {
    margin-bottom: 20px;
    width: 200px;
}
#nav_menu {
	clear: left;
}
#nav_menu ul {
	list-style: none;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul ul li ul {
    position: absolute;
    left: 100%;
    top: 30%
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 166.6px;
	padding: .7em 0;
	text-decoration: none;
	background-color: gray;
	color: white;
}
#nav_menu ul li a.current {
	color: #87a8ad;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: #324747;
    font-style: italic;
}

/* Sidebar */

aside {
	float: left; 
	width: 160px;
	padding: 20px 0; 
}

aside h3{
    padding:0;
    margin-left: 10px;
    font-family: sans-serif;
}
aside img {
    width: 180px;
    border: 1px solid gray;
    margin: 10px 0 10px 10px;
}
#nav_list a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	padding: .5em 0 .5em .5em;
	color: black;
}

.column {
    width: 35%;
    float: right;
}

article p{
    width: 25em;
    margin: 10px 20px 10px 0;
    text-align: left;
    font-size: 18px;
}
article h3{
    padding: 10px 10px 10px 0;
    margin-top: 25px;
    width: 25em;
    
}
article img{
    width: 25em;
    opacity: 0.5;
    margin: 10px 10px 30px 10px;
    border: 1px solid gray;
}
textarea {
        height: 5em;
        width: 25em;
        font-family: Arial, Helvetica, sans-serif;
}
input{
    height: 2em;
    width: 25em;
    font-family: Arial, Helvetica, sans-serif;
}
#submit {
    margin-top: 10px;
    width: 20em;
}
/* Section */
section {
	width: 150px;
	float: right;
	padding: 10px 10px 10px 10px;
    margin-right: 20px;
}
section h1 { 
	font-size: 140%;
	margin-bottom: .5em;
    font-family: sans-serif;
}
section h1:first-letter { 
	font-size: 240%;
    font-family: sans-serif;
}
section p{
    text-align: left;
}
section h2 {
	font-size: 125%;
	margin: .8em 0 .5em 0;
    font-family: sans-serif;
}
section h3 {
	font-size: 110%;
	margin: .8em 0 .5em 0;
    font-family: sans-serif;
}
section img {
    border: 1px solid gray;
}
section a {
	font-weight: bold;
	color: #87a8ad;
    font-family: sans-serif;
    text-align: center;
}
section a:link, main a:visited { 
    color: #87a8ad; 
}
section a:hover, main a:focus { 
    color: #87a8ad;
}


/* Footer */
footer { 
	clear: both;
	border-top: 2px solid gray;
	padding: 15px;
    background-color: gray;
} 
footer p {
	font-size: 90%;
	text-align: center;
}