html {
	background-color: gray;	
}
body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 1000px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid gray;
	box-shadow: 0 9px 18px 9px;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

/* Header */
header 
{
        background-image: url(file:///Users/shimamaleki/Documents/HTML/OwnFutureAssignment/MajorFinalAssignment/images/019.png); 
        background-color: #000000;
        background-size:cover;
        background-repeat: no-repeat;
        width: 1000px;
        height: 469px;
        opacity: 0.7;    
}
header img{
    border: 0;
}

header h2 {
	font-size: 200%;
    font-weight: 900;
    color: black;
    margin-left: 20px;
    font-family: sans-serif;
}
header h3 {
	font-size: 125%;
	padding-bottom: 15px;
    font-weight: bold;
    margin-left: 20px;
    font-family: sans-serif;
}

/* Navigation menu */
#nav_list.one img {
    margin-bottom: 20px;
    width: 200px;
}
#nav_menu {
	clear: left;
}
#nav_menu ul {
	list-style: none;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul ul li ul {
    position: absolute;
    left: 100%;
    top: 30%
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 166.6px;
	padding: .7em 0;
	text-decoration: none;
	background-color: gray;
	color: white;
}
#nav_menu ul li a.current {
	color: #87a8ad;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: #324747;
    font-style: italic;
}

/* Sidebar */

#nav_list ul a {
	display: block;
	font-weight: normal;
	text-decoration: none;
	padding: .2em 0 .2em .2em;
	color: black;
    height: 8em;
    border-radius: 1em;
}
#nav_list.two{
    width: 20px;
}
/* Section */
section {
	width: 180px;
	float: right;
	padding: 10px 10px 10px 10px;
    margin: 40px 0 20px 0;
}
fieldset {
    margin: 0 0 0 20px;
}
aside {
	width: 160px;
	padding: 20px 0; 
}
aside img {
    width: 180px;
    border: 1px solid gray;
    margin: 10px;
}

.column {
    width: 33%;
    float: left;
}

article {
    width: 400px;
    margin: 20px 20px 20px 0;
       
}
article p{
    text-align: justify;
    
}
article h2{
    padding: 10px 0 10px 0;
    font-size: 20px;
}
textarea {
        font-family: sans-serif;
}
input{
    height: 1em;
    font-family: sans-serif;
    
}
#submit, #reset {
    margin: 10px 10px 10px 0;
    width: 10em;
    height: 3em;
}

#choose{
    padding: 10px;
}

/* Section */
section {
	width: 250px;
	float: right;
	padding: 10px 10px 10px 10px;	
}
/* Footer */
footer { 
	clear: both;
	border-top: 2px solid gray;
	padding: 15px;
    background-color: gray;}
footer p {
	font-size: 90%;
	text-align: center;
}