html {
	background-color: gray;
}
body  {
	font-family: sans-serif;
	width: 1000px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid gray;
	box-shadow: 0 9px 18px 9px;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

/* Header */
header 
{
        background-image: url(file:///Users/shimamaleki/Documents/HTML/OwnFutureAssignment/MajorFinalAssignment/images/019.png); 
        background-color: #000000;
        background-size:cover;
        background-repeat: no-repeat;
        width: 1000px;
        height: 469px;
        opacity: 0.7;    
}

header h2 {
	font-size: 200%;
    font-weight: 900;
    color: black;
    margin-left: 20px;
    font-family: sans-serif;
}
header h3 {
	font-size: 125%;
	padding-bottom: 15px;
    font-weight: bold;
    margin-left: 20px;
    font-family: sans-serif;
}

/* Navigation menu */
#nav_menu {
	clear: left;
    
}
#nav_menu ul {
	list-style: none;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul ul li ul {
    position: absolute;
    left: 100%;
    top: 30%
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 166.6px;
	padding: .7em 0;
	text-decoration: none;
	background-color: gray;
	color: white;
}
#nav_menu ul li a.current {
	color: #9cb6ba;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: #324747;
    font-style: italic;
}

/* Sidebar */
aside {
	float: left; 
	width: 160px;
	padding: 20px 0; 
}

aside h3{
    padding:0;
    margin-left: 10px;
    font-family: sans-serif;
}
aside img {
    width: 180px;
    border: 1px solid gray;
    margin: 10px;
}
#nav_list a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	padding: .5em 0 .5em .5em;
	color: black;
}
table {		
        border-collapse: collapse;
		border: 1px solid black;
		margin: 10px 10px 10px 10px;
        float: left;
		}
thead, tfoot {
			background-color: #87a8ad;
			font-weight: bold;
			border: 1px solid black;
			}
th, td {
			padding: .2em, .7em;
			text-align: right;
			border: 1px solid black;
            height: 40px;
			}
th:first-child, td:first-child {
			text-align: left;
			}
th:first-child {
			vertical-align: bottom;
		}
th:nth-child(2), td:nth-child(2) {
			text-align:center;
			}
th:nth-child(2), td:nth-child(2) {
			text-align:center;
			}
			
th:nth-child(2) th {
			text-align: right;
			}
tbody tr:nth-child(even) {
		background-color: silver;
		}

/* Section */
section {
	width: 700px;
	float: right;
	padding: 40px;	
}
section h1 { 
	font-size: 140%;
	margin-bottom: .5em;
}
section h1:first-letter { 
	font-size: 240%;
}
section h2 {
	font-size: 125%;
	margin: .8em 0 .5em 0;
}
section h3 {
	font-size: 110%;
	margin: .8em 0 .5em 0;
}
section p {
	margin-bottom: .5em;
}
section a {
	font-weight: bold;
	color: #87a8ad;
}
section a:link, main a:visited { 
    color: #87a8ad; 
}
section a:hover, main a:focus { 
    color: #87a8ad;
}

.column {
  float: left;
  width: 33.33%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
footer { 
	clear: both;
	border-top: 2px solid gray;
	padding: 15px;
    background-color: gray;
} 
footer p {
	font-size: 90%;
	text-align: center;
}